:root {
  --width-page: 100vw;
  --height-page: 100vh;
  --color-page: white;
}

body {
  display: flex;
  margin: 0%;
  padding: 0%;
  font-family: Arial, Helvetica, sans-serif;
}

.content {
  width: 100vw;
  height: 100vh;
  color: black;
  display: flex;
  width: var(--width-page);
  padding: 0%;
  margin: 0px;
}

.pagename {
  width: 40vw;
  height: 100vh;
  background-color: var(--color-page);
  padding: 0%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-image: url(./images/pushen.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

.titlepage {
  margin: 0%;
  width: 37vw;
  font-size: clamp(100px, 80px, 15vw);
  background-color:rgba(255, 255, 255, 0.8);
  position: absolute;
  top: 20vh;
  font-size: 3vh;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1vw;
}

i {
  font-size: 5vw;
}

.form {
  background-color: var(--color-page);
  width: 60vw;
  padding: 10vw 10vh;
}

.part1 {
  font-size: 30px;
}

.part2 {
  font-size: 20px;
  margin-bottom: 5vh;
}

.general {
  display: flex;
  justify-content: space-between;
  padding-top: 2vh;
  gap: 10px;
}

.forClass {
  display: flex;
  flex-direction: column;
  width: 25vw;
  height: 5vh;
}

.inputID {
  height: 50px;
  font-size: 20px;
}

.buttonAccount {
  margin-top: 5vh;
}

button {
  font-size: 1.5vw;
  width: 16vw;
  height: 5vh;
  background-color: white;
  border-bottom: black solid;
  text-decoration: none;
  border-radius: 5px;
  cursor: pointer;
}

p {
  width: 5vw;
}

button:hover {
  background-color: black;
  color: white;
}